.intro {
    display: flex;
    height: 95vh;

    h1{
        display: fixed;
        margin-right: 50px;
    }
    p{
        display: fixed;
        margin-right: 60px;
    }

    .left {
        flex: 0.6;
        background-color: lightgoldenrodyellow;

       

        .imgContainer {
            width: 400px;
            height: 600px;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 100px;
            margin-left: 60px;
            

            img {
                width: 100%;
            }
        }
        
    }
    .right {
        flex: 0.4;
        background-color: lightblue;

        .wrapper {
            margin-top: 200px;
            margin-left: 150px;
        }
        
    }
    
}