.wrapper {
  position: relative;
  display: flex;
  min-width: 100px;
}

.search {
  border: 1px solid grey;
  border-radius: 5px;
  height: 25px;
  width: 100%;
  padding: 2px 23px 2px 30px;
  outline: 0;
  background-color: #f5f5f5;
}

.search-icon {
  position: absolute;
  top: 8px;
  left: 8px;
  width: 14px;
}

.search-button {
  cursor: pointer;
}

.clear-icon {
  position: absolute;
  top: 9px;
  right: 8px;
  width: 12px;
  cursor: pointer;
  visibility: hidden;
}

.search:hover,
.search:focus {
  border: 1px solid #009688;
  background-color: white;
}
