#body {
    color: "#000";
    overflow-y: "scroll";
}

.cardList {
    cursor: pointer;
    display: flex;
    overflow: scroll;
    margin-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid white;
    max-height: 100vh;
    max-width: 47em;
    background-color: --chakra-colors-cyan-800;
}

.cardList::-webkit-scrollbar {
    display: none;
}

.card {
    min-width: 5em;
}