* {
  margin: 0px;
  padding: 0px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; 
}

.App {
  text-align: center;
  background: rgb(252, 252, 252);
}
.text {
  text-align: left;
  font-size: 25px;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
}

.title{
  font-size: 50px;
  background: rgb(19, 18, 18);
  color: rgb(66, 193, 231);
  padding: 30px;
}

.tabs{
  font-family:'Courier New', Courier, monospace;
  background: #aca479;
  padding: 20px;
}

.newstabs {
  font-family:"Times New Roman", Courier, monospace;
  padding: 30px;
  background: rgb(153, 223, 223);
}

.boxdiv {
  display: flex;
  justify-content: center;
}
.box{
  border: 5px solid #060a11dc;
  border-radius: 150px;
  background-color: rgb(224, 240, 240);
  margin-bottom: 50px; 
  font-size: 25px;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  padding: 80px;
  width: 80%;
}

.articletitle {
  font-size: 30px;
  color: rgb(0, 0, 0);
  margin-bottom: 20px;
}
.image {
  width: 70%;
  border-radius: 20px;
  height: 70%;
}
.links{
  display: inline-block;
  margin: 0 25px;
  padding: 5px;
  font-size:30px;
  font-weight: bold;
  text-transform: uppercase;
}
nav ul li a{
  color: rgb(0, 0, 0);
}

a:hover{
  background: rgb(148, 201, 214);
}

a:active {
  color: rgb(223, 9, 9);
}




